{% extends "template.html" %}

{% block navigation %}
<ul class="nav navbar-nav navbar-right">
	<li class="active"><a href="/">Home</a></li>
	<li><a href="/users">Users</a></li>
	<li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{% block content %}

	<div class="container-fluid text-center" id="main-block">
		<h1>Welcome to Squeakr!</h1>
		<p>squeak out your opinion</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-lg-8 col-sm-offset-2 col-lg-offset-2">
				{% if error_msg %}
					<div class="alert alert-danger">{{error_msg}}</div>
				{% endif %}
				<form action="/new" method="POST" role="form" onsubmit="return new_squeak()">
					<div class="form-group">
						<textarea id="squeakr-box" class="form-control" name="squeak_text" type="text" placeholder="Enter your Squeak here!" maxlength="220"></textarea>
					</div>
					<div class="form-group">
						<input type="hidden" name="user_hash" id="user_hash" value="{{user_hash}}">
						<input class="btn btn-primary" name="submit" type="submit" value="Squeak it!">
					</div>
				</form>
			</div>
		</div>

		<div id="squeaks-list" class="row">
			{% for squeak in squeaks %}
				<div class="post col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
						<div class="post-inner">
							<h3><span class="glyphicon glyphicon-user"></span> <a href="/user/{{squeak['uid']}}">{{squeak['poster']}}</a></h3>
							<p>{{squeak['text']}}</p>
							<small>
								{{squeak['favs']}} <span class="glyphicon glyphicon-star"></span>
								<em>at {{squeak['timestamp']}}</em>
							</small>
						</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- <div class="container text-center">
		{% if not error_msg %}
		<button class="btn btn-info">Load More</button>
		{% endif %}
	</div> -->

	<script>
		function new_squeak() {
			$.ajax({
				type:"POST",
				url:"/new",
				data:{squeak_text:$('#squeakr-box').val(), user_hash:$('#user_hash').val()},
				success: function(response) {
					var resp = JSON.parse(response);
					console.log(resp);
					if (resp.result == 'pass') {
						window.location = window.location;
					} else {
						alert('Error: Unable to post!');
					}
				}
			});
			return false;
		}
	</script>

{% endblock %}