{% extends "template.html" %}

{% block navigation %}
<ul class="nav navbar-nav navbar-right">
	<li class="active"><a href="/">Home</a></li>
	<li><a href="/login">Login</a></li>
</ul>
{% endblock %}

{% block content %}

	<div class="container-fluid text-center" id="main-block">
		<h1>Welcome to Squeakr!</h1>
		<p>squeak out your opinion</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-lg-4 col-sm-offset-2 col-lg-offset-4">
				<h3 class="text-center">Register for Squeakr!</h3>
				{% if error_msg %}
					<div class="alert alert-danger">{{error_msg}}</div>
				{% endif %}
				<form action="/register" method="POST" role="form" onsubmit="return verify_reg()">
					<div class="form-group">
						<input type="text" id="name" name="name" class="form-control" placeholder="First-Name Last-Name">
					</div>
					<div class="form-group">
						<input type="text" id="email" name="email" class="form-control" placeholder="Email">
					</div>
					<div class="form-group">
						<input type="password" id="password" name="password" class="form-control" placeholder="Password">
						<small>Atleast 6 characters</small>
					</div>
					<div class="form-group">
						<input type="password" id="cpassword" name="cpassword" class="form-control" placeholder="Confirm Password">
					</div>
					<div class="form-group">
						<input class="btn btn-primary" name="submit" type="submit" value="Register!">
					</div>
				</form>
			</div>
		</div>
	</div>

	<script>
		function verify_reg() {
			var email = $('#email').val();
			var password = $('#password').val();
			var cpassword = $('#cpassword').val();

			if (email !== '' && password != '' && password === cpassword && password.length >= 6 && email.match(/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/g) !== null)
				return true;
			
			alert("Please fill correctly!");
			return false;
		} 
	</script>

{% endblock %}